.main_container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(assets/background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 96vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar h1 {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.navbar p {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.logout_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: rgb(201, 58, 58);
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  transition: 1s ease-in-out;
}

.logout_btn:hover {
  background-color: #a37070;
}

.main {
  width: 96vw;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.money {
  grid-area: money;
}

.addExp {
  grid-area: addExp;
}

.money_and_add_expenses {
  display: grid;
  grid-template-areas: "money addExp";
  gap: 40px;
  /*grid-template-columns: repeat(2, 1fr);*/
}

.money_main_container,
.expense_main_container,
.display_expenses_main_container,
.display_stats_container,
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.money_info,
.expense_info,
.display_stats_info {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
}
.display_expenses_info {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.display_expenses_subinfo {
  color: #fff;
  font-size: 15px;
}

.amount {
  color: #fff;
  font-size: 15px;
  padding-right: 20px;
  font-weight: bold;
}

.add_money,
.add_expense,
.add_expense_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  outline: none;
  border: none;
  width: 12vw;
  padding: 11px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 10px;
}

.input_select {
  outline: none;
  border: none;
  width: 12vw;
  padding: 11px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 5px 10px;
  font-size: 10px;
}

.add_money_btn {
  border: none;
  outline: none;
  padding: 11px;
  background-color: rgb(196, 212, 76);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  margin-left: 20px;
  transition: 1s ease-in-out;
}

.add_money_btn:hover {
  background-color: #c3c982;
}
.add_expense_btn {
  border: none;
  outline: none;
  padding: 11px;
  margin-bottom: 2px;
  background-color: rgb(196, 212, 76);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  margin-left: 20px;
  transition: 1s ease-in-out;
}

.add_expense_btn:hover {
  background-color: #c3c982;
}

.add_expense_input input {
  margin: 5px;
  margin-bottom: 10px;
}

.display_expenses {
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
}

.display_expenses_main_container {
  margin-top: 30px;
}
.display_stats_container {
  margin-top: 60px;
}

.display_expenses_table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display_expenses_table table {
  width: 90%;
}

.display_expenses_table th,
td {
  padding: 15px;
}

.display_expenses_table th {
  text-align: left;
}

.display_expenses_table table {
  border-collapse: collapse;
  color: #fff;
  margin-bottom: 30px;
}

.display_expenses_table tr {
  border-bottom: 1pt solid white;
}

.table_tr:nth-child(even) {
  background-color: rgba(58, 56, 56, 0.4);
}

.table_tr:nth-child(odd) {
  background-color: rgba(133, 133, 133, 0.4);
}

.main_tr {
  background-color: rgba(13, 13, 13, 0.4);
}

.expenses_delete_button {
  cursor: pointer;
}

.table_tr:hover {
  background-color: rgba(137, 152, 82, 0.4);
}

.user_expenses {
  grid-area: user_expenses;
}

.stats {
  grid-area: stats;
}

.expenses_main_container {
  display: grid;
  grid-template-areas: "user_expenses stats";
  gap: 40px;
}

.select_stat {
  color: #fff;
  font-size: 15px;
}

.input_date {
  outline: none;
  border: none;
  width: 12vw;
  padding: 11px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 5px;
  font-size: 10px;
}

.display_stats_container {
  color: #fff;
  font-size: 12px;
  margin-bottom: 30px;
}

.check_btn,
.reset_btn {
  border: none;
  outline: none;
  padding: 11px;
  background-color: rgb(76, 187, 225);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  margin-left: 20px;
  transition: 1s ease-in-out;
}

.check_btn:hover {
  background-color: rgb(148, 190, 204);
}

.reset_btn {
  background-color: rgb(201, 58, 58);
}

.reset_btn:hover {
  background-color: #a37070;
}

.summary_main_container {
  height: 40vh;
  background-color: #a37070;
}

.input_select_stats {
  outline: none;
  border: none;
  width: 100%;
  padding: 11px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 5px 10px;
  font-size: 10px;
}

.input_date_stats {
  outline: none;
  border: none;
  width: 92%;
  padding: 11px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 5px 10px;
  font-size: 10px;
}
