.main_container {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(assets/background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 98vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar h1 {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.navbar p {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.logout_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  transition: 1s ease-in-out;
}

.logout_btn:hover {
  background-color: #c6c6c6;
}

.main {
  width: 98vw;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.money_and_add_expenses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.money_main_container,
.expense_main_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.money_info,
.expense_info {
  color: #fff;
  font-size: 20px;
  padding-right: 20px;
}

.amount {
  color: #fff;
  font-size: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.add_money,
.add_expense,
.add_expense_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  outline: none;
  border: none;
  width: 15 vw;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}

.input_select {
  outline: none;
  border: none;
  width: 15 vw;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 5px 10px;
  font-size: 14px;
}

.add_money_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
  transition: 1s ease-in-out;
}

.add_money_btn:hover {
  background-color: #c6c6c6;
}
.add_expense_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.add_expense_btn:hover {
  background-color: #c6c6c6;
}

.add_expense_input input {
  margin: 5px;
  margin-bottom: 10px;
}
